<section class="ftco-section social-feed-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2>Social Media Feed</h2>
                <p>Follow Our Journey</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- Twitter Feed -->
                <div class="social-feed twitter-feed">
                    <a class="twitter-timeline" data-height="600" href="https://twitter.com/BeSelfless">
                        Tweets by BeSelfless
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Instagram Feed -->
                <div class="social-feed instagram-feed" id="instagram-feed">
                    <!-- Instagram feed will be loaded via JavaScript -->
                </div>
            </div>
            <div class="col-md-4">
                <!-- Facebook Feed -->
                <div class="social-feed facebook-feed">
                    <div class="fb-page" 
                         data-href="https://www.facebook.com/BeSelfless"
                         data-tabs="timeline"
                         data-width=""
                         data-height="600"
                         data-small-header="false"
                         data-adapt-container-width="true"
                         data-hide-cover="false"
                         data-show-facepile="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 